.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 92px 50px;

}

.header__menu {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;

}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: circle;
    

}

.header__link {
    text-decoration: underline;
    text-underline-position: under;
}

.header__link_active {
    text-decoration: none;
    cursor: default;

}

.header__links-list-item_no-bullit {
    list-style: none;

}

.header__logo {
    width: 148px;
    height: 105px;
    justify-self: center;

}

.header__logo-image {
    width: 100%;
    height: 100%;

}

.address {
    padding: 0;
    margin: 0;
    font-style: normal;
    width: 240px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    justify-self: end;

}


.street {
    display: block;
}

.cover {
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0 0 0 / 0.6);
    position: relative;
}

.cover__title {
    position: relative;
    width: 100%;
    height: 757px;
    color: #FFF;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px 0 50px;
    z-index: 1;
}


.aligned-text {
    line-height: 115%;
    top: 165px;
}

.aligned-text_center {
    text-align: center;
    top: 175px;
    margin: 20px 0;
}


.aligned-text_right {
    text-align: right;
    line-height: 100%;
    top: 215px;
}

.letter-spacing-extended {
    letter-spacing: 60px;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    z-index: 1;
    color: #FFF;
    font-size: 22px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 78px;
    position: absolute;
    bottom: 62px;
    right: 50px;
}

.cover__description-text {
    word-spacing: 20px;
}

.bet-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 257px;
    height: 52px;
    border: solid #FFF 1px;
    cursor: pointer;
}

.lots {
    
    background-color: #FFF;
    padding: 180px 50px;

}

.lots__heading {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 27px;

}

.lots__card-list {
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
gap: 25px;
list-style: none;
}

.lots__card-list-item {
    max-width: 430px;
    min-height: 450px;
    flex-grow: 1;
    margin-bottom: 30px;
}

.card-link {
    text-decoration: none;
    height: 100%;
}

.card {
    height: 100%;
}

.card .overlay {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
}

.card__title {
    color: #FFF;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 1.2;
}

.card__text {
    color: #FFF;
    font-size: 20px;

}

.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
    background-size: cover;

}

.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
    background-size: cover;
}

.card_type_picture {
    background-image: url(/images/card-lot-03.jpg);
    background-size: cover;

}

.lots__look-more-link {
 text-decoration: underline;
 text-underline-position: under;
 font-size: 20px;
}

.about {
 padding: 0 50px 180px;
 display: grid;
 grid-template-columns: repeat(2, 1fr);

}

.about__logo {
    max-width: 240px;
    max-height: 240px;
    background-color: #000;
    border-radius: 50%;
    padding: 63px 46px;
}
